@import '../../../variables.scss';
.has-error{
    color: $secondary;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 82px;
    background: #ffffff0f;
    border-radius: 25px;
 
}