@import '../../../variables.scss';
.title-container{
    margin-bottom: 10vw;
    border-left: 2px solid $secondary;
    padding: 4px;
    font-size: 2rem;
    color: white;
}.chips{
    border: none;
    padding: 4px;
    border-radius: 4px;
    color: white;
    margin-right: 4px;
    cursor: pointer;
    &.none{
        background-color: black;
    }
    &.love{
        background-color: $secondary;
    }
    &.philosophy{
        background-color: $tertiary;
    }
    &.journey{
        background-color: $primary;
    }
    &:hover{
        color: black;
        background-color: lighten($color: white, $amount: 2);
    }
    &:focus{
        border: 1px solid inset white;
    }
}