<p class="title-container">Create your post</p>
<form class="form" [formGroup]="addPost" (ngSubmit)="submitPost()">
    <div class="form-control">
        <label for="title">Dodaj tytul do postu</label>
        <input type="text" formControlName="title">
        <div class="has-error">
            <small *ngIf="addPost.controls['title'].hasError('required')  && addPost.controls['title'].touched" >Field is required</small>
        </div>
    </div>
    <div class="form-control">
        <input type="file" (change)="handleFileSelect($event)" accept=".png, .jpg, .jpeg" />
    </div>
    <div class="form-control" style="width: calc(90vw - 40px)">
        <label for="">Zawartość postu</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>
    <button type="submit" class="button-primary" [disabled]="addPost.invalid">create post</button>
</form>