<div class="post">
    <div class="header">
        <h1>post title</h1>
        <button class="btn btn-link">go to main</button>
    </div>
    <div class="info"><strong>author</strong><small>11.09.21</small></div>
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi qui corporis obcaecati saepe quibusdam illum ipsum distinctio beatae illo assumenda cupiditate excepturi id consequuntur laudantium velit ut autem, commodi tempora sapiente modi necessitatibus. Et repudiandae asperiores vel ratione amet perferendis.</div>
</div>
