@import '../../variables.scss';
.container-img{
    position: relative;
    &::after{
        content: "";
        width: 2px;
    height: 110vh;
    background-color: $secondary;
    position: absolute;
    top: 0;
    right: 10vw;
    }
    &::before{
        content: "";
        width: 2px;
    height: 60vh;
    background-color: $secondary;
    position: absolute;
    bottom: 0;
    right: 10vw;
    }
}
.post{
    width: calc(100vw - 18px);
    height: 100vh
}
.title{
    position: absolute;
    bottom: 0;
    left: 10vw;
    font-size: 4em;
    filter: drop-shadow(1px 5px 5px black);
    &::first-letter{
        color: $primary;
    }
    
}
.wrapper-content{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
    .info{
        align-self: flex-end;
    }
}