@import '../../../../../variables.scss';
.alert-wrap{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    min-width: 200px;
}
.alert-success{
    border-radius: 4px;
    padding: 10px;
    background-color: $primary;
}
.alert-danger{
    border-radius: 4px;
    padding: 10px;
    background-color: $secondary;
}