@import '../../../../variables.scss';
.brand{
    font-size: 3em;
    font-style: italic;
    text-align: start;
    letter-spacing: 0.2em;
    cursor: pointer;
    &::first-letter{
        color: $primary;
    }
}
.navbar{
    margin: 5vh 5vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
