<div class="navbar">
    <p class="brand hover-underline-animation" routerLink="/" >Pustoy stakan</p>
    <div *ngFor="let category of filterService.categories" >
        <button type="button" (click)="filterService.filterPost(category)" class="chips"  [ngClass] ="{'love':  category.title == 'love', 'philosophy': category.title == 'philosophy', 'journey': category.title ==  'journey', 'none': category.title == 'none'}" >{{ category.title }}</button>
    </div>
</div>
<main class="container-main"> 
<router-outlet></router-outlet>
</main>
    
