<div class="page-content">
    <div *ngIf="formEidt; else loading">
        <form [formGroup]="formEidt" (ngSubmit)="submit">
            <div class="form-control">
                <label for="email">Title</label>
                <input type="text" formControlName="title">
                <div class="has-error">
                    <small *ngIf="formEidt.controls['title'].hasError('required')  && formEidt.controls['title'].touched" >Field is required</small>
                </div>
            </div>
            <div class="form-control">
                <label for="">content post</label>
                <quill-editor formControlName="text"></quill-editor>
            </div>
            <button type="submit" [disabled]="formEidt.invalid || submited" class="button-primary" (click)="submit()">save post</button>
        </form>
    </div>
</div>
<div class="decoration"><img src="../../../assets/img/Big-pencil.svg" alt=""></div>
<ng-template #loading>
  <wsb-loading></wsb-loading>
</ng-template>