/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import './variables.scss';


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cormorant Garamond', serif;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #232526, #2a2c2d, #323435, #393b3d, #414345);
}
.container-main{
    color: white;
    width: calc(100vw - 300px);
   
}
.form-control{
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 8px;
    width: 400px;
    input{
        width: 100%;
        height: 45px;
        border-radius: 4px;
        border: 2px solid white;
        text-indent: 8px;
        &:hover{
          border: 2px solid $primary;
        }
        &:focus{
          outline: none;
          border: 2px solid $primary;
          border-radius: 4px;
        }
    }
}
.button-primary{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: none;
    margin-top: 16px;
    background-color: $secondary;
    color: white;
    font-size: 0.8em;
    &:hover{
        cursor: pointer;
        background-color: $primary;
    }
    &:disabled{
        color: white;
        background-color: gray;
        cursor: none;
    }
}
.chips{
  border: none;
  padding: 4px;
  border-radius: 4px;
  color: white;
  margin: 4px;
  cursor: pointer;
  min-width: 74px;
  &.none{
      background-color: black;
  }
  &.love{
      background-color: $secondary;
  }
  &.philosophy{
      background-color: $tertiary;
  }
  &.journey{
      background-color: $primary;
  }
  &:hover{
      color: black;
      background-color: lighten($color: white, $amount: 2);
  }
  &:focus{
      border: 1px solid inset white;
  }
}
button[disabled]:hover {
  background: gray;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
.page-content{
  position: relative;
  z-index: 2;
}
.decoration{
  position: fixed;
  opacity: 0.5;
  width: 50vw;
  height: 80vh;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
  }
  
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; 
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; 
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; 
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline: 1px solid $secondary;

  }
  .hexLink {
      display:block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      overflow: hidden;
      -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
              transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
 
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
        -ms-transform: rotate3d(0,0,0,0deg);
            transform: rotate3d(0,0,0,0deg);
  }
  
  .hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    background-color: $primary;
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
            transition:          transform .2s ease-out, opacity .3s ease-out;
  }
  .hex h1 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform:translate3d(0,-100%,0);
        -ms-transform:translate3d(0,-100%,0);
            transform:translate3d(0,-100%,0);
  }
  .hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  .hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translate3d(0,100%,0);
        -ms-transform:translate3d(0,100%,0);
            transform:translate3d(0,100%,0);
  }
  
  .has-error{
    color: $secondary;
}
  /*** HOVER EFFECT  **********************************************************************/
  .hexLink:hover h1, .hexLink:focus h1,
  .hexLink:hover p, .hexLink:focus p{
    -webkit-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
  }
  
  .hover-underline-animation{
    display: inline-block;
    position: relative;
    color: white;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $secondary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  @media (min-width:1201px) { /* <- 5-4  hexagons per row */
    .container-main{
      width: auto;
    }
  
    #hexGrid{
      padding-bottom: 4.4%
    }
    .hex {
      width: 20%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    .container-main{
      width: auto;
    }
    #hexGrid{
      padding-bottom: 5.5%
    }
    .hex {
      width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    .decoration{
      height: 45vh;
    }
    .container-main{
      width: auto;
    }
    .container{
      width: auto;
    }
    #hexGrid{
      padding-bottom: 7.4%
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 600px) { /* <- 2-1  hexagons per row */
    .decoration{
      height: 35vh;
    }
    .container-main{
      width: auto;
    }
    .container{
      width: auto;
    }
    #hexGrid{
      padding-bottom: 11.2%
    }
    .hex {
      width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 400px) {
    .form-control{
      width: 280px;
    }
    .container-main{
      width: auto;
    }
    .container{
      width: auto;
    }
      #hexGrid {
          font-size: 13px;
      }
  }  

.small-button{
  width: calc(50% - 4px);
  background-image: linear-gradient(to right top, #d3cce3, #d9d2e6, #ded8e9, #e4deed, #e9e4f0);
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 4px;
  height: 30px;
  &:hover{
      cursor: pointer;
      background-image: linear-gradient(to right bottom, #d3cce3, #d9d2e6, #ded8e9, #e4deed, #e9e4f0);
  }
}
wsb-edit-page, wsb-create-page{
  .ql-container.ql-snow {
    height: auto;
  }
  .ql-editor {
    height: 200px;
    overflow-y: scroll;
  }

}