<wsb-alert></wsb-alert>
<nav class="navbar">
    <a routerLink="/" class="hover-underline-animation"> Go to blog</a>
    <ul *ngIf="authService.isAuthenticated()">
        <li routerLinkActive="active" >
            <a [routerLink]="['/admin', 'dashboard']" class="hover-underline-animation">Main</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'create']" class="hover-underline-animation">Create post</a>
        </li>
        <li>
            <a href="#" (click)="logout($event)" class="hover-underline-animation">Log out</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
